<%= form_for @identity, :url => main_app.password_reset_path, :method => :post do |f| %>
  <p>
    <%= f.label :uid %>
    <%= f.text_field :uid %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
